@import url("https://fonts.googleapis.com/css2?family=Marvel:wght@700&family=Montserrat:wght@100;400;500&display=swap");

:root {
  --darkgrey: #3a3a3a;
  --bluegrey: #c3d0d9;
  --greenish: #d0d9c3;
}
